#!/usr/bin/env bash

#Application server configs

export APPSERVER_IP=$APPSERVER_IP
export APPSERVER_DNS_NAME=$APPSERVER_DNS_NAME
export APPSERVER_DEFAULT_PASSWORD=$APPSERVER_DEFAULT_PASSWORD
export APPSERVER_DEFAULT_USER=$APPSERVER_DEFAULT_USER
export WEB_TOKEN_SECRET=$WEB_TOKEN_SECRET
