server: ${APPSERVER_NAME}
uiserver: ${APPSERVER_UI_NAME}
namespace: ${CLUSTER_NAMESPACE}

ui:
  image:
    repo: ${TRILLO_UI_IMAGE}
    tag: ${TRILLO_UI_VERSION}
  pullPolicy: IfNotPresent
  replicaCount: ${TRILLO_UI_REPLICAS}
